$primaryFont: Mattone;
$secondaryFont: IBMPlexMono;
$primaryColor: #c3ff00;
$textColor: #fff;
$bgColor: rgba(0, 0, 0, 0.85);
$secColor: #2a2a2a;
$border: 1px solid #2a2a2a;

@font-face {
  font-family: Mattone;
  src: url("../public/Mattone.otf");
}

@font-face {
  font-family: IBMPlexMono;
  src: url("../public/IBMPlexMono.ttf");
}
